<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.co.dycode.dokuchatvideolibrary">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">


        <activity
            android:name="id.co.dycode.dokuchatvideolibrary.video.VideoActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTask"
            android:supportsRtl="true"
            android:allowBackup="true">
        </activity>


        <activity
            android:name="id.co.dycode.dokuchatvideolibrary.video.player.comments.VideoCommentActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
        </activity>

        <activity
            android:name="id.co.dycode.dokuchatvideolibrary.video.player.comments.VideoCommentAdd"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
        </activity>

        <activity
            android:name="id.co.dycode.dokuchatvideolibrary.chat.ChatActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="id.co.dycode.dokuchatvideolibrary.chat.conversation.MessageActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
        </activity>


    </application>

</manifest>
